@{
    ViewData["Title"] = "Index";
}

<!-- ======= Hero Section ======= -->
<div id="hero" class="home">

    <div class="container">
        <div class="hero-content">
            <h1>I'm Thomas Walton</h1>
            <p>Developer, Team Oriented, Ambitious </p>

            <ul class="list-unstyled list-social">
                <li><a href="https://www.linkedin.com/in/thomaswaltondev/"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-4 ">
                    <div class="div-img-bg">
                        <div class="about-img">
                            <img src="/assets/img/me.jpg" class="img-responsive" alt="me">
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="about-descr">

                        <p class="p-heading">I am a Kansas City based Full Stack Developer who loves being part of a team, music, anime, and animals of all kinds. </p>
                        <p class="separator">I'm Thomas Walton, leveraging my background in customer service and I.T. alongside skills in networking, end-user support, and programming. I excel in communicating with customers and thrive in collaborative team environments.</p>

                    </div>

                </div>
            </div>
        </div>
    </div><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <div id="services">
        <div class="container">

            <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-filetype-html"></i>
                            <span><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML & CSS</a></span>
                            <p class="separator">I use HTML and CSS to design and build the visual and structural components of websites or web applications, focusing on creating the layout, style, and overall presentation that users see and interact with. </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-filetype-cs"></i>
                            <span><a href="https://learn.microsoft.com/en-us/dotnet/csharp/">ASP.NET Core 6 MVC</a></span>
                            <p class="separator">I utilize the ASP.NET Core 6 MVC framework for middle tier development, building the logic and functionality that drives the behavior of web applications or software systems, ensuring smooth data processing, business logic implementation, and interaction between the front end and back end components.</p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-filetype-sql"></i>
                            <span><a href="https://learn.microsoft.com/en-us/sql/?view=sql-server-ver16">MSSQL</a></span>
                            <p class="separator"> I utilize SQL for database management, querying, and manipulation, ensuring efficient storage, retrieval, and organization of data to support the functionality and integrity of applications and systems.</p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-microsoft"></i>
                            <span><a href="https://learn.microsoft.com/en-us/azure/?product=popular">Azure</a></span>
                            <p class="separator"> I am certified in Microsoft Azure Fundamentals, leveraging a comprehensive cloud platform that enables scalable infrastructure, robust data analytics, and seamless integration for efficient and dynamic application deployment and management.</p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="services-block">
                            <i class="bi bi-filetype-jsx"></i>
                            <span><a href="https://learn.microsoft.com/en-us/azure/?product=popular">ReactJS</a></span>
                            <p class="separator"> In my development projects, I leverage ReactJS for building dynamic and interactive user interfaces. By breaking down complex UIs into reusable components, managing state efficiently, and leveraging virtual DOM for optimal performance, React enables me to create scalable and maintainable web applications with ease.</p>
                        </div>
                    </div><!-- End testimonial item -->


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </div><!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
    <div id="portfolio" class="paddsection">

        <div class="container">
            <div class="section-title text-center">
                <h2>My Portfolio</h2>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="card h-100">
                        <img src="/assets/img/dungeonthumbnail.PNG" class="img-fluid card-img-top" alt="Player Info Screen inside console">
                        <div class="card-body">
                            <a href="/assets/img/dungeonthumbnail.PNG"><h4 id="cardTitle">Dungeon App</h4></a>
                            <p>C#</p>
                            <p>This was the first major project we did at Centriq that really grabbed my attention. This taught me skills with C# and LINQ</p>
                            <a href="https://github.com/TWaltonIT/Dungeon_ThomasWalton" data-gallery="portfolioGallery">Check it out on GitHub! &nbsp; <i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="card h-100">
                        <img src="/assets/img/reactTODo.png" class="img-fluid card-img-top" alt="My React Site">
                        <div class="card-body">
                            <a href="http://todo.thomaswaltondev.com"><h4 id="cardTitle">ToDo Web App</h4></a>
                            <p>ReactJS</p>
                            <p>I was underestimating the power of ReactJs until we did this project. The ability to have a fully modular website is outstanding.</p>
                            <a href="https://github.com/TWaltonIT/react-todo">Check it out on GitHub! &nbsp; <i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="card h-100">
                        <img src="/assets/img/todoAPI.png" class="img-fluid card-img-top" alt="JSON Objects">
                        <div class="card-body">
                            <a href="http://todoapi.thomaswaltondev.com/API/ToDos"><h4 id="cardTitle">ToDo Web API</h4></a>
                            <p>.NET Core Web API</p>
                            <p>For my first time making an API, I had a lot of fun with this even though it is simple. This creates an endpoint for the ToDo App to retrieve DB entries.</p>
                            
                            <a href="https://github.com/TWaltonIT/ToDoAPI" data-gallery="portfolioGallery">Check it out on GitHub! &nbsp; <i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="card h-100">
                        <img src="/assets/img/konohaexpress.png" class="img-fluid card-img-top" alt="My Storefront">
                        <div class="card-body">
                            <a href="/assets/img/konohaexpress.png"><h4 id="cardTitle">StoreFront</h4>
                            <p>.NET Core MVC App</p>
                            <p>Making this was a challenging task that definitely tested my ability as a developer.</p>
                            <a href="https://github.com/TWaltonIT/StoreFrontMVC" data-gallery="portfolioGallery">Check it out on GitHub! &nbsp; <i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    </div><!-- End Portfolio Section -->
    <!-- ======= Classmates Section ======= -->
    <div id="classmates" class="text-left paddsection">

        <div class="container">
            <div class="section-title text-center">
                <h2>My Classmates</h2>
            </div>
        </div>

        <div class="container">
            <div class="journal-block">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://catiewatsondev.com"><img src="/assets/img/catieheadshot.png" class="img-responsive" alt="Catie Watson"></a>
                            <div class="journal-txt">
                                <h4><a href="http://catiewatsondev.com">Catie Watson</a></h4>
                                <p class="separator">Kansas City, MO</p>
                                <a href="https://www.linkedin.com/in/catie-watson-dev/"><i class="bi bi-linkedin"></i></a>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://haleykillingsworth.com"><img src="/assets/img/haleyheadshot.jpg" class="img-responsive" alt="Haley Killingsworth"></a>

                            <div class="journal-txt">

                                <h4><a href="http://haleykillingsworth.com">Haley Killingsworth</a></h4>
                                <p class="separator">Overland Park, KS</p>
                                <a href="https://www.linkedin.com/in/haley-killingsworth-4315b2199/"><i class="bi bi-linkedin"></i></a>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://AustinFarrow.com"><img src="/assets/img/austinheadshot.jpg" class="img-responsive" alt="Austin Farrow"></a>

                            <div class="journal-txt">

                                <h4><a href="http://AustinFarrow.com">Austin Farrow</a></h4>
                                <p class="separator">Belton, MO</p>
                                <a href="https://www.linkedin.com/in/austin-farrow/"><i class="bi bi-linkedin"></i></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://ambrosidev.net"><img src="/assets/img/tarynheadshot.jpg" class="img-responsive" alt="Taryn Ambrosi"></a>

                            <div class="journal-txt">

                                <h4><a href="http://ambrosidev.net">Taryn Ambrosi</a></h4>
                                <p class="separator">Independence, MO</p>
                                <a href="https://www.linkedin.com/in/taryn-ambrosi/"><i class="bi bi-linkedin"></i></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="http://ethanjamesaa.com"><img src="/assets/img/ethanheadshot.jpg" class="img-responsive" alt="Ethan Anderson-Alexander"></a>

                            <div class="journal-txt">

                                <h4><a href="http://ethanjamesaa.com">Ethan Anderson-Alexander</a></h4>
                                <p class="separator">Shawnee, KS</p>
                                <a href="https://www.linkedin.com/in/ethan-alexander-dev/"><i class="bi bi-linkedin"></i></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div><!-- End Journal Section -->
    <!-- Twitch Section -->
    <!-- <div class="container">
      <div id="social" class="twitch">
        <h2>My Socials</h2>
        <div class="twitch-video">
          <iframe
            src="https://player.twitch.tv/?channel=boywonder_rl&parent=thomaswaltondev.com&autoplay=false"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true"
            height="100%"
            width="100%">
          </iframe>
        </div>
      </div>
    </div> -->

</main><!-- End #main -->
